# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare files that should always be converted to LF regardless of platform
*.sh text eol=lf
*.dotsettings text eol=lf
